/* .footer{
    margin-top:50px;
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
} */

.footer{
    margin-top:auto;
    background:#0f172a;
    color:white;
    text-align:center;
    padding:22px;
    font-size:15px;
    letter-spacing:.5px;
}